<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">ランキング</h3>
  </div>

  <div class = "row">
    <div class = "col-sm-3 mx-auto">
      <% @posts.each.with_index(1) do |post, i| %>
        <h5 class = "text-center ranking-number"><%= "#{i}位" %></h5>
        <div class = "post_<%= post.id %>">
          <%= render "posts/post_index", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</div>