<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">フォロワー一覧</h3>
  </div>

  <div class = "row">
    <div class = "col-lg-6 mx-auto">
      <% @users.each do |user| %>
        <%= render "user_index", user: user %>
      <% end %>
    </div>
  </div>

</div>