<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto fas fa-book-open">Where To Go ! とは</h3>
  </div>

  <div class = "row about-image">
    <div class = "col pt-5 text-center">
      <h5 class = "about-text">
        <strong>Where To Go !</strong>　は Google Map を利用した旅行計画作成・共有サイトです。
      </h5>
      <p>
        <%= link_to "チュートリアルへ➡︎", tutorial_path, class: "tutorial-link" %>
      </p>
    </div>
  </div>
</div>