<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">検索結果一覧画面</h3>
  </div>

  <div class = "row">
    <div class = "col">
      <% if @range == "Post" %>
        <%= render "posts/post_index", posts: @posts %>
      <% end %>
    </div>
  </div>
</div>