<label>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(post), method: :delete do %>
      <label class = "favorite-icon">♥<%= post.favorites.count %></label>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post do %>
      <label class = "favorite-icon">♡<%= post.favorites.count %></label>
    <% end %>
  <% end %>
</label>
