/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h3{
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  margin-bottom: 50px;
}

.main{
  flex: 1;
  background-color: #f0f8ff;
}

header, footer{
  background-color: #4682b4;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #dcdcdc;
}

li{
  list-style: none;
}

.user_image{
  border-radius: 50%;
  border: 1px solid #dcdcdc;
}

#map{
  height: 500px;
  width: 100%;
}

.favorite-icon{
  color: #ff69b4;
}

.favorite-icon:hover{
  text-decoration: none;
  color: #c71585;
}

.post-title-link, .user-show-link, .tutorial-link, .follow-btn, .following-link, .followed-link{
  color: #5f9ea0;
}

.post-title-link:hover, .user-show-link:hover, .tutorial-link:hover, .follow-btn:hover, .following-link:hover, .followed-link:hover{
  text-decoration: none;
  color: gray;
}

.about-image{
  height: 500px;
  background-image: image-url("about.jpg");
  background-size: cover;
  background-blend-mode: color-dodge;
}

.about-text{
  line-height: 400px;
}

.delete-btn{
  color: gray;
}

.edit-btn{
  color: gray;
}

.comment-btn{
  color: gray;
}

.user-introduction{
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 50px 0;
}

.image-prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.fa-bars{
  color: white;
}

.nav-menu .active{
  position: fixed;
  top: 0;
  left: 0;
  background: #4682b4;
  color: #fff;
  width: 100%;
  min-height: 30%;
  display: none;
  z-index: 9;
}
