<footer class = "mt-5">
  <div class = "container", style = "background-color: #e0ffff;">
    <div class = "row">
      <span class = "mx-auto", style = "line-height: 100px;">Copylight ©</span>
    </div>
  </div>
</footer>